# Для Visual Studio
.vs/
.vscode/
.idea/

# Для бинарных файлов и сборки
bin/
obj/
Debug/
Release/
x64/
x86/

# Лог файлы
*.log

# Файлы настроек от CMake (если используется)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile

# Файлы Visual Studio (необязательные для версии)
.vs2019/
.vs2017/

# Файлы отчетов и временные файлы
*.user
*.userosscache
*.suo
*.sln.docstates

# Для файлов, генерируемых компилятором
*.pch
*.idb
*.pdb
*.ipch
*.obj
*.exe
*.dll

# Прочие сгенерированные файлы
*.sdf
*.opensdf
*.dbmdl